*.pyc
*.whl
*.tar.gz
.pixi/*
.vscode/*
pixi.lock
poetry.lock
.coverage
**/__pycache__/*
temp*.yml
.mypy*
*ipynb*
.github/workflows/.ci_pixi.yaml
*.conda
.env
site/
.zensical/
tests/output/
_output/**
demos/**
**.m
**.csv
**.json
**.db
!examples/**/*.m
!examples/**/*.csv
coverage.xml
.ipynb_checkpoints/
